<div class='av-container'>
  <div class='av-search-container'>
    <input type='text' placeholder='Search by name' oninput={{action 'filter' value='target.value'}}>
  </div>

  <div class='av-summary'>
    Showing {{this.filteredAddons.length}} of {{this.addons.length}} addons.<br>
    By {{this.uniqueAuthors.length}} unique authors.
  </div>

  <ul class='av-card-grid'>
    {{#each this.filteredAddons as |addon|}}
      <li class='av-card'>
        <div class='av-title'>
          {{addon.name}}
        </div>
        <div class='av-description'>
          {{addon.description}}
        </div>
        
        <div class='av-expander'></div>

        <div class='av-card-bottom'>
          <div class='av-author'>
            {{addon.author}}
          </div>
          <div class='av-expander'></div>
          <div class='av-version'>
            v{{addon.version}}
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</div>